In [3]:
import openrouteservice
import folium
from folium.plugins import BeautifyIcon
import pandas as pd
import openrouteservice as ors
import pandas                  as pd
import numpy                   as np
import matplotlib.pyplot       as plt
#import seaborn                 as sns
from sklearn.cluster import KMeans
from sklearn.cluster import OPTICS
from sklearn.cluster import SpectralClustering
from sklearn.neighbors import KNeighborsClassifier
from sklearn.cluster import AgglomerativeClustering
from sklearn.metrics import pairwise_distances_argmin_min
from sklearn.model_selection import train_test_split
from sklearn.mixture import GaussianMixture
from sklearn.cluster import AffinityPropagation
from IPython.display import display
import pulp as p
import warnings
warnings.filterwarnings("ignore")

def routesGenerator(df, model, n_clusters, mode):

    nk = n_clusters
    df_K = pd.DataFrame(df['Lat'])
    df_K['Lon'] = df['Lon']
    #df_K

    if (model == 1):
        kmeans = KMeans(n_clusters= nk).fit(df_K)
        df_K['Grupo'] = kmeans.predict(df_K)
    elif (model == 2):
        AgC = AgglomerativeClustering(n_clusters= nk).fit(df_K)
        df_K['Grupo'] = AgC.fit_predict(df_K)
    elif (model == 3):
        sc = SpectralClustering(n_clusters= nk).fit(df_K)
        df_K['Grupo'] = sc.fit_predict(df_K)
    elif (model == 4):
        GM = GaussianMixture(n_components= nk).fit(df_K)
        df_K['Grupo'] = GM.predict(df_K)
    #df_K['Needed_Amount'] = df['cantidad']
    #df_K['volumen'] = df['volxpostal']

    z = folium.Map(location=[25.65240416152182, -100.29108458215048], tiles='cartodbpositron', zoom_start=13)
    colors = ['green', 'red', 'blue', 'yellow', 'purple', 'brown', 'grey', 'pink']
    keyAPI = '5b3ce3597851110001cf624875f5f3899e79410bac3b8d81a1bb6096'
    times = []
    distanceS = []


    #ors_client = 
    results = []
    #if (1==1):
    #    i=0
    for i in range(nk):
        df_99=df_K[df_K['Grupo']==i]
        del df_99['Grupo']
        df_99['ID'] = list(range(len(df_99)))
        df_99["Open_From"] = (len(df_99)*"08:00 ").split()
        df_99["Open_To"] = (len(df_99)*"20:00 ").split()
        df_99['Needed_Amount'] = (len(df_99)*"1 ").split()
        df_99.to_csv('df_99.csv')

        

        # Next load the delivery locations from CSV file at ../resources/data/idai_health_sites.csv
        # ID, Lat, Lon, Open_From, Open_To, Needed_Amount
        deliveries_data = pd.read_csv(
            'df_99.csv',
            index_col="ID",
            parse_dates=["Open_From", "Open_To"]
        )

        for location in deliveries_data.itertuples():
            tooltip = folium.map.Tooltip("<h4><b>ID {}</b></p><p>Supplies needed: <b>{}</b></p>".format(
                location.Index, location.Needed_Amount
            ))

            folium.Marker(
                location=[location.Lat, location.Lon],
                tooltip=tooltip,
                icon=BeautifyIcon(
                    icon_shape='marker',
                    number=int(location.Index),
                    spin=True,
                    text_color=colors[i],
                    background_color="#FFF",
                    inner_icon_style="font-size:12px;padding-top:-5px;"
                )
            ).add_to(z)

            
        depot = [25.65240416152182, -100.29108458215048]

        folium.Marker(
            location=depot,
            icon=folium.Icon(color="green", icon="bus", prefix='fa'),
            setZIndexOffset=1000
        ).add_to(z)

        vehicles = list()
        for idx in range(3):
            vehicles.append(
                ors.optimization.Vehicle(
                    id=i,
                    start=list(reversed(depot)),
                    end=list(reversed(depot)),
                    capacity=[300000] 
                )
            )

        deliveries = list()
        for delivery in deliveries_data.itertuples():
            #if (delivery.volumen /delivery.Needed_Amount < 0.51):
                #print(delivery.volumen /delivery.Needed_Amount)
            #    serviceO=300*delivery.Needed_Amount
            #else:
                #print(delivery.volumen /delivery.Needed_Amount)
            #    serviceO=600*delivery.Needed_Amount
                
            deliveries.append(
                ors.optimization.Job(
                    id=delivery.Index,
                    location=[delivery.Lon, delivery.Lat],
                    service = 60,
                    amount=[delivery.Needed_Amount],
                )
            )

        # Get an API key from https://openrouteservice.org/dev/#/signup
        result = ors.Client(key= keyAPI).optimization(
            jobs=deliveries,
            vehicles=vehicles,
            geometry=True
        )
        
        results.append(result)

        # Add the output to the map
        for color, route in zip([colors[i],colors[i],colors[i]], result['routes']):
            decoded = ors.convert.decode_polyline(route['geometry'])  # Route geometry is encoded
            gj = folium.GeoJson(
                name='Vehicle {}'.format(route['vehicle']),
                data={"type": "FeatureCollection", "features": [{"type": "Feature",
                                                                "geometry": decoded,
                                                                "properties": {"color": color}
                                                                }]},
                style_function=lambda x: {"color": x['properties']['color']}
            )
            gj.add_child(folium.Tooltip(
                """<h4>Vehicle {vehicle}</h4>
                <b>Distance</b> {distance} m <br>
                <b>Duration</b> {duration} secs
                """.format(**route)
            ))
            gj.add_to(z)

        
        #time
        last_step=result['routes'][0]['steps'][-1]
        timeR = last_step['arrival']+last_step.get('service',0)
        #print(timeR/3600)
        times.append(timeR/3600)
        #print(pd.to_datetime(timeR, unit='s'))

        #distance
        last_step=result['routes'][0]['steps'][-1]
        distanceR = last_step['distance']
        #print(timeR/3600)
        distanceS.append(distanceR/1000)
        

    folium.LayerControl().add_to(z)
    totaltime = sum(times)
    totaldistance = sum(distanceS)
    maxtime = max(times)


    
    if (mode == 1):
        return(maxtime, totaldistance)
    elif(mode == 3):
        return (times,totaldistance)
    elif(mode == 2):
        return z
    elif (mode == 4):
        return (times,distanceS)
    elif (mode == 5):
        return results

def routesData(df, nMaxRutas):
    maxRutas = nMaxRutas
    dfporK = pd.DataFrame()
    dfporK['K'] = list(range(1,maxRutas))
    models = ['Kmeans_', 'AgC_', 'Spectre_', 'Gaussian_']

    #Models
    for j in range(4):
        timedf = []
        distancedf = []
        for i in range(1,maxRutas):
            timedf.append(routesGenerator(df,j+1,i,1)[0])
            distancedf.append(routesGenerator(df, j+1,i,1)[1])
        dfporK[models[j]+'Tiempo Max'] = timedf
        dfporK[models[j]+'Distancia total'] = distancedf
    
    return dfporK

def routesCosto(salario, costokilometro, dfroutesdata):
    salarioPorHora = salario
    costokilometro = costokilometro
    dfCopy = dfroutesdata.copy()
    dfCostos = pd.DataFrame()
    dfCostos['K'] = [1,2]

    for j in range(4):
        costo = dfCopy[dfCopy.columns[2*j+1]]*177.525*dfCopy[dfCopy.columns[0]]+dfCopy[dfCopy.columns[2*j+2]]*costokilometro
        dfCostos['Costo modelo ' + str(j+1)] = costo

    dfCostos.columns = ['K', 'Kmeans', 'Agglomerative cluster', 'Spectre cluster', 'Gaussian Mixture']    

    return dfCostos

def eliminateLongRoutes(df):
    dfrutasdata = df
    drutas, ncol = dfrutasdata.shape

    for i in range(ncol):
        indices=[]
        if i%2==1:
            for j in range(len(dfrutasdata[dfrutasdata.columns[i]])):
                if dfrutasdata[dfrutasdata.columns[i]][j]>2:
                    dfrutasdata[dfrutasdata.columns[i]][j] = 999999999999
                    dfrutasdata[dfrutasdata.columns[i+1]][j] = 999999999999

    return dfrutasdata

def seleccionaralgoritmo(df):
    arrporK = np.array(df[df.columns[1:]])
    best = [np.where(arrporK == np.min(arrporK))[0][0] + 1, np.where(arrporK == np.min(arrporK))[1][0] + 1]
    #best[1] = dfporK.columns[best[1]]
    return best    

def itinerariosgenerator(df, algoritmo, grupos):
    result = routesGenerator(df, algoritmo, grupos, 5)
    itinerarios = []
    for i in range(grupos):
        stations = list()
        for route in result[i]['routes']:
            vehicle = list()
            for step in route["steps"]:
                vehicle.append(
                    [
                        step.get("job", "Depot"), # Station ID
                        step["arrival"],  # Arrival time
                        step["arrival"] + step.get("service", 0),  # Departure time
                        step['location']
                    ]
                )
            stations.append(vehicle)

        df_stations_0 = pd.DataFrame(stations[0], columns=["Station ID", "Arrival", "Departure", 'location'])
        df_stations_0['Arrival'] = pd.to_datetime(df_stations_0['Arrival'], unit='s')
        df_stations_0['Departure'] = pd.to_datetime(df_stations_0['Departure'], unit='s')
        itinerarios.append(df_stations_0)
    return itinerarios

In [5]:
#Salario de choferes $/hora
sal = 100

#Costo por kilometro (coche de prueba)
costoKilometro = 22.97/9.57

#Lee el archivo
df=pd.DataFrame(pd.read_csv('coords.csv'))

#crea la informaci√≥n de las rutas 
dfrutasdata= routesData(df, 3)

#Elimina tiempos mayores a 2 horas
dfroutesdata = eliminateLongRoutes(dfrutasdata)

#Obtiene el costo de las rutas 
dfporK = routesCosto(sal, costoKilometro, dfrutasdata)

#Selecciona el mejor algoritmo de machine learning
[grupos, algoritmo] = seleccionaralgoritmo(dfporK)

routesGenerator(df, algoritmo, grupos, 2).save('map1.html')

itinerarios = itinerariosgenerator(df, algoritmo, grupos)
# print(itinerarios[0])

#Leyendo el archivo de flota
flota = pd.read_csv('Flota.csv')

In [6]:
def MixedIntegerProgramming(df, flota, sal, grupos, algoritmo, itinerarios):
    
    #Generando variables para LP
    ruteo = routesGenerator(df, algoritmo, grupos, 4)
    n = len(flota)                                                                  #Camiones
    m = grupos                                                                      #Rutas
    s = sal                                                                         #Salario por hora
    C = [23.09/i for i in list(flota['rendimiento (kilometro/litro)'])]             #Lista con los rendimientos de gasolina en $/km
    T = ruteo[0]                                                                    #Lista de Tiempos de cada ruta                                                  #Lista recortada
    D = ruteo[1]                                                                    #Lista de distancia de cada ruta
    V = list(flota['Volumen de caja (cuanto puede cargar)'])                        #Lista de volumenes de cada camion
    K = [len(itinerarios[i]) for i in range(grupos)]                                #Lista de demandas de volumen de cada ruta

    #Variables para PULP
    camiones = list(range(0,n))
    rutas = list(range(0,m))
    
    #Crea el problema LP
    prob = p.LpProblem("RuteoOptimo", p.LpMinimize)     

    #Crea la variable X, tiene maximo de 5 por ahora
    X=p.LpVariable.dicts("X",[(i,j) for i in camiones for j in rutas],0, 5, p.LpInteger)    
    
    #Funcion Objetivo
    prob+= p.lpSum(X[(i,j)] * (D[j]*C[i] + T[j]*s) for i in camiones for j in rutas) 
     
    #Restricciones
    # for i in camiones:
    #     prob+= p.lpSum(X[(i,j)]*(T[j]) for j in rutas) <= 9

    #Restriccion de cumplimiento de demanda 
    for j in rutas:
        prob+=p.lpSum(X[(i,j)]*V[i] for i in camiones) >= K[j]
        
    #Resolviendo
    prob.solve()
    cost = p.value(prob.objective)
    
    ruteoOptimo=pd.DataFrame({'Camiones':[],'Rutas':[]})
    for i in camiones:
        for j in rutas:
            if(X[(i,j)].varValue>0):
                for k in range(0,int(X[(i,j)].varValue)):
                    ruteoOptimo.loc[len(ruteoOptimo)]=[i,j]
                    
    ruteoOptimo['Volumen'] = [V[int(h)] for h in ruteoOptimo['Camiones']]

    return cost, ruteoOptimo
    
costo, ruteoOptimo = MixedIntegerProgramming(df, flota, sal, grupos, algoritmo, itinerarios)

In [22]:
ruteoOptimo[ruteoOptimo.columns[1:]]

   Rutas  Volumen
0      1       20
1      0       25

In [31]:
type(itinerarios[0]['location'][1])

list

In [32]:
df['Name'] = df.index
df['pollo'] = 1
df

          Lat         Lon  Volumen  Name  pollo
0   25.660137 -100.275035        1     0      1
1   25.659375 -100.272048        1     1      1
2   25.659737 -100.271438        1     2      1
3   25.662988 -100.272437        1     3      1
4   25.667788 -100.275417        1     4      1
5   25.667920 -100.269800        1     5      1
6   25.667014 -100.276777        1     6      1
7   25.668238 -100.276907        1     7      1
8   25.644772 -100.301994        1     8      1
9   25.649527 -100.307434        1     9      1
10  25.641971 -100.296020        1    10      1
11  25.653565 -100.309311        1    11      1
12  25.657142 -100.306900        1    12      1
13  25.669026 -100.311380        1    13      1
14  25.658908 -100.288573        1    14      1
15  25.714667 -100.342065        1    15      1
16  25.768404 -100.365921        1    16      1
17  25.794655 -100.379861        1    17      1
18  25.755846 -100.359597        1    18      1
19  25.752234 -100.356085        1    19      1
20  25.739459 -100.333833        1    20      1
21  25.726586 -100.335307        1    21      1
22  25.733564 -100.388270        1    22      1
23  25.759065 -100.404791        1    23      1
24  25.741201 -100.385594        1    24      1
25  25.742610 -100.389928        1    25      1
26  25.736035 -100.396837        1    26      1
27  25.636086 -100.278410        1    27      1
28  25.610329 -100.264214        1    28      1
29  25.626241 -100.299426        1    29      1
30  25.580489 -100.239774        1    30      1
31  25.585313 -100.235341        1    31      1
32  25.519413 -100.208890        1    32      1

In [26]:
result = routesGenerator(df, algoritmo, grupos, 5)
itinerarios = []
for i in range(grupos):
    stations = list()
    for route in result[i]['routes']:
        vehicle = list()
        for step in route["steps"]:
            vehicle.append(
                [
                    step.get("job", "Depot"), # Station ID
                    step["arrival"],  # Arrival time
                    step["arrival"] + step.get("service", 0),  # Departure time
                    step['location']
                ]
            )
        stations.append(vehicle)

    df_stations_0 = pd.DataFrame(stations[0], columns=["Station ID", "Arrival", "Departure", 'location'])
    df_stations_0['Arrival'] = pd.to_datetime(df_stations_0['Arrival'], unit='s')
    df_stations_0['Departure'] = pd.to_datetime(df_stations_0['Departure'], unit='s')
    itinerarios.append(df_stations_0)
itinerarios

[   Station ID             Arrival           Departure  \
 0       Depot 1970-01-01 00:00:00 1970-01-01 00:00:00
 1           7 1970-01-01 00:19:44 1970-01-01 00:20:44
 2          11 1970-01-01 00:24:19 1970-01-01 00:25:19
 3          10 1970-01-01 00:27:03 1970-01-01 00:28:03
 4           9 1970-01-01 00:29:56 1970-01-01 00:30:56
 5           8 1970-01-01 00:36:25 1970-01-01 00:37:25
 6           2 1970-01-01 00:47:04 1970-01-01 00:48:04
 7           1 1970-01-01 00:53:50 1970-01-01 00:54:50
 8           3 1970-01-01 00:58:13 1970-01-01 00:59:13
 9           4 1970-01-01 01:01:19 1970-01-01 01:02:19
 10          5 1970-01-01 01:07:25 1970-01-01 01:08:25
 11          6 1970-01-01 01:12:20 1970-01-01 01:13:20
 12          0 1970-01-01 01:16:36 1970-01-01 01:17:36
 13      Depot 1970-01-01 01:30:19 1970-01-01 01:30:19

                                     location
 0   [-100.29108458215048, 25.65240416152182]
 1                [-100.3882697, 25.73356389]
 2                [-100.3968367, 25.73603542]
 3                [-100.3899284, 25.74260963]
 4                [-100.3855942, 25.74120127]
 5                 [-100.4047912, 25.7590654]
 6                [-100.3798614, 25.79465514]
 7                [-100.3659211, 25.76840448]
 8                [-100.3595968, 25.75584592]
 9                 [-100.3560846, 25.7522336]
 10               [-100.3338328, 25.73945855]
 11               [-100.3353065, 25.72658591]
 12               [-100.3420653, 25.71466733]
 13  [-100.29108458215048, 25.65240416152182]  ,
    Station ID             Arrival           Departure  \
 0       Depot 1970-01-01 00:00:00 1970-01-01 00:00:00
 1          14 1970-01-01 00:02:58 1970-01-01 00:03:58
 2           0 1970-01-01 00:08:34 1970-01-01 00:09:34
 3           1 1970-01-01 00:10:19 1970-01-01 00:11:19
 4           2 1970-01-01 00:11:25 1970-01-01 00:12:25
 5           3 1970-01-01 00:13:38 1970-01-01 00:14:38
 6           5 1970-01-01 00:17:29 1970-01-01 00:18:29
 7           4 1970-01-01 00:21:10 1970-01-01 00:22:10
 8           7 1970-01-01 00:22:52 1970-01-01 00:23:52
 9           6 1970-01-01 00:24:32 1970-01-01 00:25:32
 10         13 1970-01-01 00:33:12 1970-01-01 00:34:12
 11         11 1970-01-01 00:38:53 1970-01-01 00:39:53
 12         12 1970-01-01 00:41:29 1970-01-01 00:42:29
 13          9 1970-01-01 00:44:33 1970-01-01 00:45:33
 14          8 1970-01-01 00:48:25 1970-01-01 00:49:25
 15         10 1970-01-01 00:51:17 1970-01-01 00:52:17
 16         17 1970-01-01 00:56:59 1970-01-01 00:57:59
 17         20 1970-01-01 01:14:09 1970-01-01 01:15:09
 18         18 1970-01-01 01:25:37 1970-01-01 01:26:37
 19         19 1970-01-01 01:30:26 1970-01-01 01:31:26
 20         16 1970-01-01 01:40:31 1970-01-01 01:41:31
 21         15 1970-01-01 01:50:57 1970-01-01 01:51:57
 22      Depot 1970-01-01 01:56:58 1970-01-01 01:56:58

                                     location
 0   [-100.29108458215048, 25.65240416152182]
 1                 [-100.2885729, 25.6589082]
 2                   [-100.275035, 25.660137]
 3                [-100.2720485, 25.65937502]
 4                 [-100.271438, 25.65973732]
 5                [-100.2724374, 25.66298803]
 6                [-100.2698004, 25.66791988]
 7                 [-100.275417, 25.66778807]
 8                [-100.2769073, 25.66823848]
 9                [-100.2767771, 25.66701436]
 10               [-100.3113804, 25.66902606]
 11                [-100.309311, 25.65356521]
 12               [-100.3069002, 25.65714215]
 13               [-100.3074345, 25.64952719]
 14                [-100.301994, 25.64477177]
 15               [-100.2960204, 25.64197145]
 16                [-100.299426, 25.62624118]
 17                [-100.2088903, 25.5194131]
 18               [-100.2397737, 25.58048948]
 19               [-100.2353413, 25.58531327]
 20                [-100.264214, 25.61032866]
 21               [-100.2784096, 25.63608602]
 22  [-100.29108458215048, 25.65240416152182]  ]

In [33]:
result

[{'code': 0,
  'summary': {'cost': 4699,
   'unassigned': 0,
   'delivery': [12],
   'amount': [12],
   'pickup': [0],
   'service': 720,
   'duration': 4699,
   'waiting_time': 0,
   'distance': 56557,
   'computing_times': {'loading': 86, 'solving': 2, 'routing': 90}},
  'unassigned': [],
  'routes': [{'vehicle': 0,
    'cost': 4699,
    'delivery': [12],
    'amount': [12],
    'pickup': [0],
    'service': 720,
    'duration': 4699,
    'waiting_time': 0,
    'distance': 56557,
    'steps': [{'type': 'start',
      'location': [-100.29108458215048, 25.65240416152182],
      'load': [12],
      'arrival': 0,
      'duration': 0,
      'distance': 0},
     {'type': 'job',
      'location': [-100.3882697, 25.73356389],
      'id': 7,
      'service': 60,
      'waiting_time': 0,
      'job': 7,
      'load': [11],
      'arrival': 1184,
      'duration': 1184,
      'distance': 16710},
     {'type': 'job',
      'location': [-100.3968367, 25.73603542],
      'id': 11,
      'service': 60,
      'waiting_time': 0,
      'job': 11,
      'load': [10],
      'arrival': 1459,
      'duration': 1399,
      'distance': 18312},
     {'type': 'job',
      'location': [-100.3899284, 25.74260963],
      'id': 10,
      'service': 60,
      'waiting_time': 0,
      'job': 10,
      'load': [9],
      'arrival': 1623,
      'duration': 1503,
      'distance': 19611},
     {'type': 'job',
      'location': [-100.3855942, 25.74120127],
      'id': 9,
      'service': 60,
      'waiting_time': 0,
      'job': 9,
      'load': [8],
      'arrival': 1796,
      'duration': 1616,
      'distance': 20964},
     {'type': 'job',
      'location': [-100.4047912, 25.7590654],
      'id': 8,
      'service': 60,
      'waiting_time': 0,
      'job': 8,
      'load': [7],
      'arrival': 2185,
      'duration': 1945,
      'distance': 24298},
     {'type': 'job',
      'location': [-100.3798614, 25.79465514],
      'id': 2,
      'service': 60,
      'waiting_time': 0,
      'job': 2,
      'load': [6],
      'arrival': 2824,
      'duration': 2524,
      'distance': 30456},
     {'type': 'job',
      'location': [-100.3659211, 25.76840448],
      'id': 1,
      'service': 60,
      'waiting_time': 0,
      'job': 1,
      'load': [5],
      'arrival': 3230,
      'duration': 2870,
      'distance': 34319},
     {'type': 'job',
      'location': [-100.3595968, 25.75584592],
      'id': 3,
      'service': 60,
      'waiting_time': 0,
      'job': 3,
      'load': [4],
      'arrival': 3493,
      'duration': 3073,
      'distance': 36689},
     {'type': 'job',
      'location': [-100.3560846, 25.7522336],
      'id': 4,
      'service': 60,
      'waiting_time': 0,
      'job': 4,
      'load': [3],
      'arrival': 3679,
      'duration': 3199,
      'distance': 37836},
     {'type': 'job',
      'location': [-100.3338328, 25.73945855],
      'id': 5,
      'service': 60,
      'waiting_time': 0,
      'job': 5,
      'load': [2],
      'arrival': 4045,
      'duration': 3505,
      'distance': 41284},
     {'type': 'job',
      'location': [-100.3353065, 25.72658591],
      'id': 6,
      'service': 60,
      'waiting_time': 0,
      'job': 6,
      'load': [1],
      'arrival': 4340,
      'duration': 3740,
      'distance': 43301},
     {'type': 'job',
      'location': [-100.3420653, 25.71466733],
      'id': 0,
      'service': 60,
      'waiting_time': 0,
      'job': 0,
      'load': [0],
      'arrival': 4596,
      'duration': 3936,
      'distance': 45436},
     {'type': 'end',
      'location': [-100.29108458215048, 25.65240416152182],
      'load': [0],
      'arrival': 5419,
      'duration': 4699,
      'distance': 56556}],
    'geometry': 'sfq{CjbccRAAIEC@u@gA_AoAkAcBEICOMNMNa@d@CBQRwBhCiArAQTQREFIHATAFI~@MfAQxAa@vDWzBUpBs@^MHQHWNGBaAh@GBaAj@SRWVkAn@}Az@aAd@i@^QFMDWDkARi@Pa@\\g@x@QZIHe@\\{Av@kAl@_Ah@_Bz@a@TgAj@sAt@]ROJId@]rCe@|De@~DIh@G`@_@hCcAjI?f@@THf@Tl@b@lA`@lAf@jBj@hCLt@Hz@HhAHtB@`B?b@MhB_@xCO|@mAjES|@g@tBgBzOu@|CUnBc@`Di@bCUnAKhACVQ`CKvA?vAGnAoDv]y@dJQzAoAbMKzAWhCeBlQGp@}@fJ{@~GoA`JgB`Ks@tD}BbLWzAGFMXaA`EcBfIE^Ef@Ep@iBpIa@rAQ`@OTQPWDyAf@QBc@B{AA}@CM@yDKODCBw@E{BEoM[iJU{DKeFSqCIW?QAu@AoBGkGOiAAaDI}HMcJW[AmCIK?o@AeBEmCKoDIoBEmBCU?QKSEK?mAA{CAY?mAAe@?GB]HINEXE^A\\AjB@`CBjDD`AAbHCfDErAK|@Mv@Ql@e@rAcAzB_BrDYl@}AhD}BhF]|@sA|Ca@x@oAxC_BnDoA~Cg@~@S`@o@bAwAnBW\\eCzCuC|CaBjBoCvCsH~HsDtDgH|H_EhEoIbJs@t@WZSZQ^uDxIm@pAORQVkBxBkF~FyHbJeCpCaExDyCzC}@x@KFe@RWNYV_@V]NEDSPIHIJSZo@Vi@J]@c@CSAe@Mk@][]U_@MY]DEf@EVM^[l@YXi@f@q@j@wApAgCxBYB_@BUDe@NSNw@hAkBqB_@a@i@i@e@c@m@q@QWKSK][l@cAvAu@bAU\\W^q@~@o@~@SX_@j@wAmAKICC{@s@{@m@y@q@a@][WyFyEcAw@}@u@{@s@y@s@c@]mA}@KPXVr@f@LNN\\F^?ZEv@Kf@GXSf@KRWNMFKFi@Pi@H[?IAIAw@xCa@xA_AhDe@`BCTm@~@sCdEbAp@bAr@|AlA^Td@\\jBpBv@x@lBnBjAjAq@fAs@lAk@z@q@bAg@v@ILo@fA{AlCs@lAq@yAk@qAq@qA]s@GKIQUm@Uk@U]KQSY{@aAKMc@U_@We@Uc@K_@E_A@iANy@L]@a@?o@GQC[Ma@SIGGE]Ya@]}@w@_Au@iAcAy@s@_Aw@s@k@eAw@{@{@a@_@]]s@u@SY_@g@o@_Aq@}@hE}D^f@PViEzDq@}@GKSYW[o@}@s@_Ak@_Aq@{@s@cAu@gAkAcBVUhDwC`BqAxDqD^]JKb@a@tCoCDCHK`BnAbAt@`Ar@dAt@PMc@]UOi@a@aAs@g@[USWQe@[QKSQKHQNcDvC_GpFyDjD_BfA}CdCWTkAx@gBz@kDvAuB|@cCdAyAd@o@Ti@PWHO@O@M@KBW^_AxA[d@c@p@aAxAeCtDKPILOTe@p@w@dAcCxDk@|@AFO`@[b@e@r@}A`CuDzFe@r@sCnEgBlCaAxAi@v@s@fAu@dAi@t@SZNLHDLLXXx@z@^X\\P^JfA\\`@JdAVVFPFILQXg@x@ILm@dA[d@[\\qAnAKLOE_A[eBi@gCy@Qo@Q_AxBkDlBuC\\g@OGKCUI[GMPW^y@x@i@^c@RWH]Jk@L]Dq@F{@A[Ek@IaA[e@UGC]WWSYYYa@[q@]{@]s@e@eAUe@_D{GkBeELSJWDY?YEYGSKQMOQIKEUES?QBMDUk@o@}A]u@_@w@o@yAGKeA}BsBgEyAkCaA_B}A_CsBcCaCiC}DsDiBsAsB{ASMWOwA{@uC}AeEeB}@]WGs@Uo@Qm@Qa@Ka@Kc@KaAUa@IsDo@aAICc@Ma@UY[OKAKAU?[FWPORGNEPy@GUAc@CsBEmBAeA?eA@AC?E?mBAWCmAGkAE]C[IY]oA}@cD{@}C[mAU{@Mc@AGMg@CGy@{C_@sAaBuFmA`@kAd@kA^kAXoAViATsAZ_@Fe@eBgATqBgHdA_@EOeA^eA`@cA\\iA`@cA\\mBn@kDlAoE`BiC~@kC`AwG~B_@mAc@aBb@`B^lA{DxASHOFWFQFJBRBLARCJAJEvDuAxGcCjCaAbA_@rG{BzCmAv@YdAa@`Ac@fA_@dAa@dA_@dA_@tEeBp@Wf@QhHoChE{AxIcD`@OdIsC|IaD`JcDfAa@~CiApBs@@?FCvIaDhC}@hA_@XKVIl@SfAc@~@_@`Ao@bAy@`Ay@z@y@v@_Az@eAQSc@k@Ya@x@cAvCiD{AwAzAvAbA~@wEzFPRzE{Fv@}@r@_Az@aA^g@~@gAj@s@NQ`AiAjBqBfByB`@e@xBeC|CwDzCwD`AkArCeDjEkFHKnByBrDsEv@t@dA|@dA`Ab@`@f@j@hBdBzDpDw@~@v@_A{DqDiBeBh@k@dAqAx@iAR_@hCiFN[fBoDFUDSf@v@b@x@LZ`AbBR^~@fBJP`AORCNGJGRGBx@bAClACA]@\\mABcABCy@SFKFOFSBaANKQ_AgBS_@aAcBM[c@y@g@w@?M?KAGBIVq@NWHEnAiAJI~@{@`@[`@YvAgAvC}Bx@o@vC}B\\Y^e@NSvBsC`@g@tEsGNWr@}@f@s@RWJM\\]jD}C|AyA|BsBjBaBNOzAyAPQf@g@t@w@VWhAmAv@}@NYBM@S@ODURa@`AeAVUVQd@[l@]TQl@_@TM`B}@TM~@k@^UbAm@|AaApAw@LE\\QPsCJiAFiAJmAFiAHmAh@wI@Q@MHsAXgEQ?mA?KfBJgBlA?P?TuCB[nCTTH`@Dp@Fb@Dn@F@Un@Ph@FnAJdDXlCTVBB?l@@p@ErAO~C_@pAOn@Gr@KbAOfAQ`De@HRNPPHRDTAXdDPbBF`@XnAzAfEfC|HTn@^j@rEcGvBoCwBnCsEbGz@jAz@lAtAjB`AxA`AdB|@hBZ|@h@`BRl@j@~AR`@Vf@X|@CLCLP?T@j@BXDZCnAGf@?vC?~AAL?nEA\\?jAAjB@dDAbA?b@A`@?L?|@ApA?tAApB?pB?hBAhB?|AAxA?N?C[CSKa@KSS]CI}@qBMMUSYi@DKBIDOVo@\\_@XUX@|A?|A@rAAH?zA@~AA|A?J?rA@V?`A?zA?zAAH?^@p@?zA@zAA\\?Z?d@@x@?d@AvA@xA@P?~@?lC?tA@P?B?pA@J?F?H?BcDDuH@mA@yA@[BaFB_CHGLQ~AkC|AoC`AaBZm@h@_Aj@_AbAiBd@_AbA{AdAqB\\k@pBgDbAcBFKv@uApAyBNUJQVe@Va@n@gA^o@lAsBn@gAn@iARc@jAkB|AkCzAkC|@}AvAiC\\i@fAmBx@wAzCiFvDsGvBuDn@kArE?|B?xCBL?J?T?r@A`@?T?\\B`ALLBJDd@NZNHBd@TNFRHPHVHd@Jf@LJDPBfBTh@F^BfDRf@BrBJ^BPBhCPf@Dd@Dv@FZBfDTrDTr@DT@rAJR@vDXXB\\BnBNfBPdALh@Dx@FVBR@H@L@L@pCTH@zCVN@N@J?VBjBLL@P@xBLR@J@hDTJ@L@vCTPBV@jCPv@FH@^BVBT@TBL@F?dAHB?^BnCPLBN@nF\\P@hAPlDVhGx@vCb@TGPCLKLOFUN_BBq@?cCBk@Fq@AQAKDYJ}@Fg@Fa@b@aEXiCH{@b@mEb@eE@SDY?EViC`@gDd@yBNgADg@@w@@gCBmE?E?i@Ag@Ac@GgAC_@K_ASwAh@yFB_@VsC`@_Eb@_Eb@{D`@_EDi@Jo@ReBd@}D`@{DFq@FSTUtAs@d@W`Ao@\\W\\Q`@Uv@g@b@Yj@Yt@a@|@g@rAw@tDoBrEcClBcAd@W^UPIh@YDC|@c@XMxAu@HCN?J?JEZShAm@r@_@XQJEBCF@TAJE@AFG@EBG@IC[OUGCGAW@GBIMwByCGI@A@AACYc@'}]},
 {'code': 0,
  'summary': {'cost': 5758,
   'unassigned': 0,
   'delivery': [21],
   'amount': [21],
   'pickup': [0],
   'service': 1260,
   'duration': 5758,
   'waiting_time': 0,
   'distance': 58917,
   'computing_times': {'loading': 132, 'solving': 7, 'routing': 107}},
  'unassigned': [],
  'routes': [{'vehicle': 1,
    'cost': 5758,
    'delivery': [21],
    'amount': [21],
    'pickup': [0],
    'service': 1260,
    'duration': 5758,
    'waiting_time': 0,
    'distance': 58917,
    'steps': [{'type': 'start',
      'location': [-100.29108458215048, 25.65240416152182],
      'load': [21],
      'arrival': 0,
      'duration': 0,
      'distance': 0},
     {'type': 'job',
      'location': [-100.2885729, 25.6589082],
      'id': 14,
      'service': 60,
      'waiting_time': 0,
      'job': 14,
      'load': [20],
      'arrival': 178,
      'duration': 178,
      'distance': 1070},
     {'type': 'job',
      'location': [-100.275035, 25.660137],
      'id': 0,
      'service': 60,
      'waiting_time': 0,
      'job': 0,
      'load': [19],
      'arrival': 514,
      'duration': 454,
      'distance': 3030},
     {'type': 'job',
      'location': [-100.2720485, 25.65937502],
      'id': 1,
      'service': 60,
      'waiting_time': 0,
      'job': 1,
      'load': [18],
      'arrival': 619,
      'duration': 499,
      'distance': 3432},
     {'type': 'job',
      'location': [-100.271438, 25.65973732],
      'id': 2,
      'service': 60,
      'waiting_time': 0,
      'job': 2,
      'load': [17],
      'arrival': 685,
      'duration': 505,
      'distance': 3505},
     {'type': 'job',
      'location': [-100.2724374, 25.66298803],
      'id': 3,
      'service': 60,
      'waiting_time': 0,
      'job': 3,
      'load': [16],
      'arrival': 818,
      'duration': 578,
      'distance': 4162},
     {'type': 'job',
      'location': [-100.2698004, 25.66791988],
      'id': 5,
      'service': 60,
      'waiting_time': 0,
      'job': 5,
      'load': [15],
      'arrival': 1049,
      'duration': 749,
      'distance': 4961},
     {'type': 'job',
      'location': [-100.275417, 25.66778807],
      'id': 4,
      'service': 60,
      'waiting_time': 0,
      'job': 4,
      'load': [14],
      'arrival': 1270,
      'duration': 910,
      'distance': 5632},
     {'type': 'job',
      'location': [-100.2769073, 25.66823848],
      'id': 7,
      'service': 60,
      'waiting_time': 0,
      'job': 7,
      'load': [13],
      'arrival': 1372,
      'duration': 952,
      'distance': 5807},
     {'type': 'job',
      'location': [-100.2767771, 25.66701436],
      'id': 6,
      'service': 60,
      'waiting_time': 0,
      'job': 6,
      'load': [12],
      'arrival': 1472,
      'duration': 992,
      'distance': 5974},
     {'type': 'job',
      'location': [-100.3113804, 25.66902606],
      'id': 13,
      'service': 60,
      'waiting_time': 0,
      'job': 13,
      'load': [11],
      'arrival': 1992,
      'duration': 1452,
      'distance': 10550},
     {'type': 'job',
      'location': [-100.309311, 25.65356521],
      'id': 11,
      'service': 60,
      'waiting_time': 0,
      'job': 11,
      'load': [10],
      'arrival': 2333,
      'duration': 1733,
      'distance': 12785},
     {'type': 'job',
      'location': [-100.3069002, 25.65714215],
      'id': 12,
      'service': 60,
      'waiting_time': 0,
      'job': 12,
      'load': [9],
      'arrival': 2489,
      'duration': 1829,
      'distance': 13382},
     {'type': 'job',
      'location': [-100.3074345, 25.64952719],
      'id': 9,
      'service': 60,
      'waiting_time': 0,
      'job': 9,
      'load': [8],
      'arrival': 2673,
      'duration': 1953,
      'distance': 14516},
     {'type': 'job',
      'location': [-100.301994, 25.64477177],
      'id': 8,
      'service': 60,
      'waiting_time': 0,
      'job': 8,
      'load': [7],
      'arrival': 2905,
      'duration': 2125,
      'distance': 15550},
     {'type': 'job',
      'location': [-100.2960204, 25.64197145],
      'id': 10,
      'service': 60,
      'waiting_time': 0,
      'job': 10,
      'load': [6],
      'arrival': 3077,
      'duration': 2237,
      'distance': 16455},
     {'type': 'job',
      'location': [-100.299426, 25.62624118],
      'id': 17,
      'service': 60,
      'waiting_time': 0,
      'job': 17,
      'load': [5],
      'arrival': 3419,
      'duration': 2519,
      'distance': 18979},
     {'type': 'job',
      'location': [-100.2088903, 25.5194131],
      'id': 20,
      'service': 60,
      'waiting_time': 0,
      'job': 20,
      'load': [4],
      'arrival': 4449,
      'duration': 3489,
      'distance': 35557},
     {'type': 'job',
      'location': [-100.2397737, 25.58048948],
      'id': 18,
      'service': 60,
      'waiting_time': 0,
      'job': 18,
      'load': [3],
      'arrival': 5137,
      'duration': 4117,
      'distance': 44215},
     {'type': 'job',
      'location': [-100.2353413, 25.58531327],
      'id': 19,
      'service': 60,
      'waiting_time': 0,
      'job': 19,
      'load': [2],
      'arrival': 5426,
      'duration': 4346,
      'distance': 45293},
     {'type': 'job',
      'location': [-100.264214, 25.61032866],
      'id': 16,
      'service': 60,
      'waiting_time': 0,
      'job': 16,
      'load': [1],
      'arrival': 6031,
      'duration': 4891,
      'distance': 50715},
     {'type': 'job',
      'location': [-100.2784096, 25.63608602],
      'id': 15,
      'service': 60,
      'waiting_time': 0,
      'job': 15,
      'load': [0],
      'arrival': 6657,
      'duration': 5457,
      'distance': 55979},
     {'type': 'end',
      'location': [-100.29108458215048, 25.65240416152182],
      'load': [0],
      'arrival': 7018,
      'duration': 5758,
      'distance': 58917}],
    'geometry': 'sfq{CjbccRAAIEC@u@gA_AoAkAcBEICOMNMNa@d@CBQRwBhCiArAQTQR][iAkAkE}D[e@[o@_@aAy@dAmH_H@dAAN?@ELGJiAnAk@j@GDm@BO{K?q@EgBAGISEOCOAKAo@AWAoBA}@CyAAk@?e@AO?I?MEkDEeB?SC{@?WAUEqBC}AEeBAw@?YJsEFkE@w@@m@AiC@_@?I`@_F@MGAMAsA\\Y{EImBxAHXtFBj@L@F@@INg@d@_AhAaCdAgBBI@KEMAMIwAIw@Ok@a@}@GMc@}@Yo@Uc@q@uAs@uAq@uAQ_@Qc@GOi@z@wE`IcDpFMPCy@C{@@MBKT]sBDu@Bw@Io@U_@cBqHTy@BM?aCAQwGAGCECAGAwA?gAAfA@BhHAjC?XQjBAHSrBBb@Lf@Xt@eC`@d@~@LXDNJjCJnCBRHTkAtAUNG@FATOjAuA|BpAHEIDH`@p@zBz@rCQtCGx@ATGhAC^CXA\\KbBKxAGdAM`CAPSzDC^IbACZG~@G|@AtB?`DArB?~A@~D?ZBnAFrBDjA@ZDtAFxBN~EBjAH~CBt@FpCJbEDvBBfAH?xDSLxDFlBo@@y@HMBWH_@LeAb@WJcHtCE?MEKIKWGwBIYOMOEG@KLCJ@Lh@tBXz@zAfEH\\jBbE~CnH~@hCX|@BBO`BC^AVCXCXMvAk@lFYlCQ~AMpAOjA]fDKp@GNENYnBEVCV[lCEZAHQfBSfBYxCOnAuBYiAQJeA@KFs@JuAFo@HkALkAB]J@TDzC^L@PBlCX|BVRB|@HfBPXBvC\\N?f@@J@PDVPDFBHTbAP^\\^VLRD`@FpCb@PBP?d@G^Sj@g@PGV?j@F^FPBd@FjDd@vDf@pBVz@LpDd@zDf@tDf@b@wCNcAh@sDf@aELcBHcB~ARN?DABEFYHy@zAP{AQPeBiC[yDc@yDe@oDa@^aE@M`@uD`@wDpDf@\\DXDvBXjDd@dDb@zBZt@JbALbBRNB|BZ`@FtAPPBtBVlARW~BCFEBMBC?B?LCDCBGV_Cf@FdBRnARVDnCwFHUFU@OAOQ{@zDmBxDmBrAq@p@]`B}@E[Cg@EiAGkBWDYHg@RBg@P{D\\qGgAITaFVqF|@Gh@CtB[L?`AO~@KdBULAd@ITEZGB?CiAGs@AM@LFr@H]Rw@Pa@Zu@^i@v@_ArBeC|@cAt@{@|@_AfBgBJ?N@JBAZB^DVHXh@fBdArDj@hBPl@Pp@Tr@ZlARb@NZV^V`@VP\\X`DpB`B~@ZR\\RXLp@^\\RfA|@b@d@n@p@VRLDXJ|@l@LDh@\\bAl@tBlAZRFFj@ZLHVPRRn@d@R]JUj@_Aj@}@P[\\o@DI`@s@Vg@FKf@_AZC\\CfAMr@Il@GNChBQPChAKR?T?K`BpFPqFQJaBU?S?iAJQBiBPOBm@Fs@HgAL]B[B\\k@\\m@DINYHOhAsBvAgCR[`@s@JSTa@x@_Bh@s@\\YNWV]d@aALUp@eA`BwCdAkBTc@JSR]\\o@PYhBeDXk@pAyBz@uAb@y@x@iBj@y@lBoDZm@n@gAbAmBf@_AVe@\\s@JST_@Xi@Va@Zg@PYRc@JQTe@x@{AjAyBVe@nBaDN[LWZm@@Af@}@Zi@LUxB{DVa@NYd@}@fBaDfAqBfBcDx@cB\\m@nDyGFM^s@Ta@\\o@^e@^k@`@u@Hg@L{@@QDoCAs@Bm@Ae@CgC?eA@ODSLMLEtBOp@?x@?vBMJA~AS\\G|Ba@bAQzA]lA_@dA]TIrBeAlI}DnEwBlLwF`CeApBw@pCiAp@W`CeAzAs@hDcB`Au@v@}@`@i@Xa@X]PWTYFKt@eAzA}BrBcDd@u@JMJOh@g@`@Wv@]x@Yd@ItAIb@?jAJn@JlAPf@FbCTh@@f@Ab@Gb@KbA_@lD}ARKn@Y|BeAvE{BxBcAd@S~@e@|GeDdEiCdBsA|A_BfD{DVWDI^c@zAgBJQRUV[JM|DiFl@y@tGqIX_@hAyApE{FDEJOPUn@_A`@i@l@w@Zc@RWd@k@pBcC|@kAJMT[X]Xa@lA{At@aApAwApAaA~As@jCmAPIlB{@FEdEmBNGd@Uf@U~As@v@]BAp@[tBaA^QRKdAk@bGmDj@_@\\Sl@_@b@WXQZQVOp@c@d@YbI}EBClAs@z@g@`Am@rCgB^UbCyAZSl@]pEiClDyBt@c@xCiBPM|@i@hC_BRMt@g@~KeHvKuGpAaA~AmApA}@r@i@`Au@TSTQNKdB{AvAgAh@c@zD}C`A{@NM|BkBlC}BtB_BpBiAp@[dBw@vAs@n@[pB_AhAk@dB{@bDaBJE`Ae@pAm@PKTKdGuChB_An@[nAm@b@SlFiCXOl@Wj@YNKdBcAdB{AdDkD`AcA^a@~AaBv@{@lFyFvAyAhBmBHIzA_Br@u@b@g@PQ`@c@~B_CbAu@tAy@lAm@h@Yf@Yx@c@b@UNIvAu@~@g@FANCHEpAaA^[bAcA\\e@^e@|BwChBeCXc@NUlBz@rAdAxAXdAH^AdAGrAfDjAxClDu@mDt@kAyCsAgDeAF_@@eAIyAYsAeAmB{@{@UW^y@fAa@l@GHq@x@QXEDoAdBg@n@_@d@IH{@t@s@h@QRGLo@XmKpFe@Vg@Zy@l@gCfCmAjACDEDqAtA{AbBsAtAoAtAkAlAQRaElEkEtEiDnDk@d@y@r@C@EDwAv@qHrDuAn@QJkJpEuDhBaK|EqBdA[RWLkAh@KF}@b@}BfAyBbAq@\\}@p@qAhAkAdA}@r@cAx@}@v@{FvEGFgBxA}AnAcCnBiA~@cA|@cBrAe@^}CnBwKrGiC~AiDvB}Az@kBbAqEhCa@Xs@b@{JbGcBbAEBu@d@wBpAmAt@WPaGlDaAj@MJcAl@_Ah@}@j@GDYPOHa@VqAr@YPiC`B}FjDGB_@R_CjAiAf@k@XuCrAA?qAl@_FzBcCfAs@\\iBh@{Aj@MIK]s@uFIg@Ig@EU{AuICOMDgGnCsHhDOFYJCm@Eq@G{@K}BIyCAWKo@Qm@gAd@cAb@u@\\KD{@b@_Ab@kDzAaBr@y@_GSwAQoAS_B\\OSqACSDUJKTKFIDK@MAGGQQ_@iAuB[TeAr@eAv@eAt@cFaFgBgBq@o@w@q@ISGSQFm@ZCD?FN^DTV~AmDnBhBtDpBlDbApB`BzCdJpPDBBBL?xAe@XIHRjBlHoAb@ODQHk@ROFkBn@QJeAh@aBz@cAh@g@XcAh@wAt@o@^k@ZgAl@WPOJMR[NqAl@c@Rw@`@_Aj@MF]XSR]p@g@`Aq@~Ak@`Bk@bB[|@u@m@w@k@uA_AMIGCYIYCoABa@Dc@EkBFU@UDc@PcBz@oAd@{Ap@}Ah@cA`@qAx@[\\s@v@{@x@WVs@p@s@h@[VgAx@k@n@oBdCSXKL}AtAuEzDcGrEyAlAu@j@s@h@mBzASPURu@l@KFeCjBeBxA_@XIFIHgAx@uB`BmBvASL]XQLqAdA_BlAeE`D[TeAx@oBdBaBnAQLg@f@ONmCfEU^RLfAcBtAwBMYmCfEU^cCzDE?IBYNCBEHAN?D@BLJFBH?FCLPf@z@^f@j@z@T`@|@xA^f@Xh@|@hAdAlAZ\\NNLNHNt@vA`@p@aA`@wDvAg@N}A\\_@Jc@JMBsAXWH[P_AJkBFaA?_AAiBEyAA_BAg@?_A?qECs@?qDIaEMYA_AAwAAgA@S?[BYFkAVWH[LaAj@}AbBORwAtB{A|B}@rA_DlDUTcAx@oBtAIFGDu@l@c@Xi@ZyBlAeKnFq@^kCtAUL_Ah@wCzAoAn@{Az@u@^ULq@^iBbAcCrAmCvAy@`@ULUJcDhBYLUi@c@eAC_@?QpBuLAOCQCMe@IW?g@Jw@ZsAv@i@Ze@J[DK]McAEg@GgAEqA?}BD_@FST]JCxAe@Ab@CxA?fCHjBJ|Bi@Ze@J[Dm@Bi@?{@AQAK?QXO\\AR@PDNLTVTt@ILFFFBD@FC^QfAEZKR@DLLFDNITIp@SPCP?NDPLt@zAxAdDuAt@[N]Pi@Za@TIBGDKDoBdAy@f@GDSLiRbKi@Xo@\\oAn@_@PA@sBdA]PMF_Aj@yAx@OHa@Ts@^[RyAt@MH{CbBu@`@[Pg@XeAj@CBw@`@gOhI{@d@yCbBO?]FMFMF_CrAYLIBKDGAW@GBIMwByCGI@A@AACYc@'}]}]

In [47]:
from datetime import date

pd.to_datetime(itinerarios[0]['Arrival'])

0

In [51]:
def generate_results(df, itinerarios, grupos):
    
    for i in range(grupos):
        itinerarios[i]['Ruta'] = i

    itinerariofinal = pd.concat(itinerarios, axis=0)
    
    df['location'] = [[df['Lon'][i], df['Lat'][i]] for i in range(len(df))]
    
    itinerariofinal['location'] = [str(i) for i in itinerariofinal['location']]
    df['location'] = [str(i) for i in df['location']]
    
    itinerariofinalbonito = itinerariofinal.merge(df, on='location')
    
    itinerariofinalbonito.drop(columns=['Station ID', 'Departure', 'location', 'Lat', 'Lon'], inplace=True)
    
    itinerariofinalbonito['Arrival'] = pd.to_datetime(itinerariofinalbonito['Arrival'])
    
    arrival = []
    for i in range(len(itinerariofinalbonito)):
        hora = str(itinerariofinalbonito['Arrival'][i].hour + 5)
        minuto = str(itinerariofinalbonito['Arrival'][i].minute)
        if(len(minuto) == 1):
            minuto = '0' + minuto
        arrival.append(hora + ':' + minuto)
    
    itinerariofinalbonito['Arrival'] = arrival
    
    return itinerariofinalbonito

it = generate_results(df, itinerarios, grupos)
it

   Arrival  Ruta  Volumen  Name  pollo
0     5:19     0        1    22      1
1     5:24     0        1    26      1
2     5:27     0        1    25      1
3     5:29     0        1    24      1
4     5:36     0        1    23      1
5     5:47     0        1    17      1
6     5:53     0        1    16      1
7     5:58     0        1    18      1
8     6:01     0        1    19      1
9     6:07     0        1    20      1
10    6:12     0        1    21      1
11    6:16     0        1    15      1
12    5:02     1        1    14      1
13    5:08     1        1     0      1
14    5:10     1        1     1      1
15    5:11     1        1     2      1
16    5:13     1        1     3      1
17    5:17     1        1     5      1
18    5:21     1        1     4      1
19    5:22     1        1     7      1
20    5:24     1        1     6      1
21    5:33     1        1    13      1
22    5:38     1        1    11      1
23    5:41     1        1    12      1
24    5:44     1        1     9      1
25    5:48     1        1     8      1
26    5:51     1        1    10      1
27    5:56     1        1    29      1
28    6:14     1        1    32      1
29    6:25     1        1    30      1
30    6:30     1        1    31      1
31    6:40     1        1    28      1
32    6:50     1        1    27      1

In [53]:
it.to_html('wft.html')